<form method="post" action="<%=import_question_path({subject_id: @subject.id}) %>" enctype="multipart/form-data">
  <input class="form-control" type="file" name="data_file" accept=".csv">
  <input type="hidden"  name="<%=request_forgery_protection_token.to_s%>"  value="<%=form_authenticity_token%>" >
  <button type="submit" class="btn btn-primary" style="width: 120px">上传</button>
</form>
