<div class="page-header">
  <h2>已参加的考试 </h2>
</div>
<% unless @exams.empty? %>
  <table class="table table-striped">
    <% @exams.each do |exam| %>
       <%= render "subject", exam: exam%>
    <%end%>
  </table>
<% else %>
  目前没有已经完成的考试
<% end %>