<div class="page-header">
  <h2>正在进行的考试 </h2>
</div>
<% unless @current.empty? %>
<div class="row">
  <table class="table table-striped">
  <% @current.each do |exam| %>
    <%=render "subject", exam: exam%>
  <%end%>
</table>
</div>
<% else %>
目前没有正在进行的考试
<% end %>
<div class="page-header">
  <h2>尚未开始的考试 </h2>
</div>
<% unless @not_ready.empty? %>
<div class="row">
  <table class="table table-striped">
  <% @current.each do |exam| %>
     <%=render "subject", exam: exam%>
  <%end%>
</table>
</div>
<% else %>
目前没有尚未开始的考试
<% end %>
<div class="page-header">
  <h2>已过期的考试 </h2>
</div>
<% unless @old.empty? %>
<div class="row">
  <table class="table table-striped">
  <% @current.each do |exam| %>
     <%=render "subject", exam: exam%>
  <%end%>
</table>
</div>
<% else %>
目前没有过期的考试
<% end %>